@import url(https://fonts.googleapis.com/css?family=Alice);

body {
  background-color: hsl(200, 80%, 75%);
  font-family: 'Alice', serif;
}

.HeadDiv {
  border: 10px outset maroon;
  background-color: gold;
  text-align: center;
}

.Div1 {
  background-color: hsl(0, 0%, 20%);
}

.blogText {
  border: 2px outset black;
  background-color: white;
  text-align: left;
  padding: 10px;
}

.blogText:hover {
  transition: transform .5s;
  transform: translate(5px, 5px);
}

.video {
  border: 3px solid hsl(0, 100%, 100%);
  width: 400px;
  height: 200px;
  visibility: hidden;
}

#transform {
  background-color: blue;
  color: white;
  width: 200px;
  height: 200px;
}

#top {
  display: flex;
  justify-content: space-between;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

#blog {
  background-color: hsl(0, 100%, 100%);
}
