@import url(https://fonts.googleapis.com/css?family=Alice);

body {
  background-color: hsl(200, 80%, 75%);
  font-family: 'Alice', serif;
}

#transform {
  background-color: blue;
  color: white;
  width: 200px;
  height: 200px;
}

#top {
  display: flex;
  justify-content: space-between;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

#one {
  background-color: hsl(0, 100%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  width: 400px;
  height: 200px;
}

#two {
  background-color: hsl(0, 100%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  width: 400px;
  height: 200px;
}

#three {
  background-color: hsl(0, 100%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  width: 400px;
  height: 200px;
}

#four {
  background-color: hsl(0, 100%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  width: 400px;
  height: 200px;
}

#five {
  background-color: hsl(0, 100%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  width: 400px;
  height: 200px;
}

#six {
  background-color: hsl(0, 100%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  width: 400px;
  height: 200px;
}
